<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>
    <h1>Cadastro de livros</h1>

    <form action="/livros" method="post">

        <input type="hidden" id="id" name="id" value "${data.livro.id}" />

        <div>
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" name="titulo" value="${data.livro.titulo}" placeholder="Coloque aqui" />
        </div>
        <div>
            <label for="preco">Preço</label>
            <input type="text" id="preco" name="preco" value="${data.livro.preco}" placeholder="150.00" />
        </div>
        <div>
            <label for="descricao">Descrição</label>
            <textarea name="descricao" id="descricao" value="${data.livro.descricao}" cols="20" rows="10" placeholder="Fale sobre o livro"></textarea>
        </div>

        <input type="submit" value="Salvar" />
    </form>
</body>
</html>