<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Cadastro de livros</h1>

    <form action="/livros" method="post">

        <input type="hidden" id="id" name="id" />

        <div>
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" name="titulo" placeholder="Coloque aqui" />
        </div>
        <div>
            <label for="preco">Preço</label>
            <input type="text" id="preco" name="preco" placeholder="150" />
        </div>
        <div>
            <label for="descricao">Descrição</label>
            <textarea name="descricao" id="descricao" cols="20" rows="10"></textarea>
        </div>

        <input type="submit" value="Salvar" />
    </form>
</body>
</html>